# Bazel
bazel-*
*/.build

# Build the xcodeproj with: bazel run :swiftlint_xcodeproj
SwiftLint.xcodeproj

# ignore base output directory 
/bazelBuildOutput/cache
/bazelBuildOutput/install
/bazelBuildOutput/xcIntermediates.noindex

# This is to ignore everything execpt the output directory for the SwiftLint binary 
/bazelBuildOutput/*/*
!/bazelBuildOutput/*/execroot/

/bazelBuildOutput/*/execroot/*
!/bazelBuildOutput/*/execroot/_main/

/bazelBuildOutput/*/execroot/_main/*
!/bazelBuildOutput/*/execroot/_main/bazel-out/

/bazelBuildOutput/*/execroot/_main/bazel-out/*
!/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/

/bazelBuildOutput/*/execroot/_main/bazel-out/*
!/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/

/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/*
!/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/bin/

/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/bin/*
!/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/bin/external/

/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/bin/external/*
!/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/bin/external/swiftlint~0.54.0/

/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/bin/external/swiftlint~0.54.0/*
!/bazelBuildOutput/*/execroot/_main/bazel-out/darwin_arm64-opt/bin/external/swiftlint~0.54.0/swiftlint